*{padding: 0;margin: 0;}
table{
    border: 1px solid blue;
    width: 600px;
    border-spacing: 0px;
    text-align: center;
    margin: auto;
   
}
caption{
    font-size: 17px;
}
table tr th{
    border: 1px solid blue;
    border-spacing: 0px;
    /* text-align: center; */
    color: #d8e4f8;
    background-color: blue;
    font-size: 11px;
}
table tbody th{
    background-color:#7e9de5; 
    /* width: 600px; */
    text-align: left;
    font-size: 11px;
}
table tr td{
    border: 1px solid blue;
    color: #666666;
}